.mg-t50 {
    margin-top: 50px;
}
.mg-t60 {
    margin-top: 60px;
}
.whiteColor {
    color: white!important;
}
.colorWhiteBg {
    background-color: white;
}
.accordionPadding {
    padding: 15px 5px 0px 15px!important;
}
.bg {
    background-image: url('../img/bg2.jpg');
    background-position: bottom;
}
.breadcrumb h1 {
    color: white!important;
}